<div id="main" *ngIf="current.category.name === 'boucherie'">
  <div id="content">
    <section>
      <div class="section-content">
        <img src="assets/images/boucherie.png" height="350px" class="butchery-pic" />
        <div>
          <p>{{'page.butchery.prices' | trans}}: <a href="assets/pdf/tarif_victorinox.pdf" target="_blank">tarifs-victorinox.pdf</a></p>
          <p>{{'page.butchery.knives' | trans}}: <a href="assets/pdf/victorinox_boucherie.pdf" target="_blank">victorinox-boucherie.pdf</a></p>
        </div>
      </div>
    </section>
  </div>
</div>
