<form [formGroup]="form" (ngSubmit)="save()">
  <fieldset>
    <legend>{{'common.label.contact' | trans}}</legend>
    <div class="form-group row">
      <label for="name" class="col-3 col-form-label">{{'common.label.fullname' | trans}} *</label>
      <div class="col-7">
        <input type="text" name="name" id="name" formControlName="name" maxlength="100" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-3 col-form-label">{{'common.label.phone' | trans}} *</label>
      <div class="col-7">
        <input type="text" name="phone" id="phone" formControlName="phone" maxlength="100" class="form-control">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{'common.label.address' | trans}}</legend>

    <div class="form-group row">
      <label for="street" class="col-3 col-form-label">{{'common.label.street' | trans}} *</label>
      <div class="col-7">
        <input type="text" name="street" id="street" formControlName="street" maxlength="100" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <label for="houseNumber" class="col-3 col-form-label">{{'common.label.housenumber' | trans}} *</label>
      <div class="col-3">
        <input type="text" name="houseNumber" id="houseNumber" formControlName="houseNumber" maxlength="10" class="form-control">
      </div>
      <label for="postbox" class="col-1 col-form-label">{{'common.label.postbox' | trans}}</label>
      <div class="col-3">
        <input type="text" name="postbox" id="postbox" formControlName="postbox" maxlength="10" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <label for="postcode" class="col-3 col-form-label">{{'common.label.postcode' | trans}} *</label>
      <div class="col-3">
        <input type="text" name="postcode" id="postcode" formControlName="postcode" maxlength="10" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <label for="city" class="col-3 col-form-label">{{'common.label.city' | trans}} *</label>
      <div class="col-7">
        <input type="text" name="city" id="city" formControlName="city" maxlength="100" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <label for="country" class="col-3 col-form-label">{{'common.label.country' | trans}} *</label>
      <div class="col-7">
        <select id="country" class="form-control" formControlName="country">
          <option value="">[{{'page.profile.choosecountry' | trans}}]</option>
          <option *ngFor="let country of countries" [value]="country.alpha2">{{country.name_fr}}</option>
        </select>
      </div>
    </div>

  </fieldset>
  <fieldset>
    <div class="form-group row">
      <div class="col-10 alert alert-danger" *ngIf="form.invalid && submitAttempt">{{'page.profile.pleasefillallrequiredfields' | trans}}</div>
    </div>
    <div class="form-group row">
      <div class="col-10">
        <button type="submit" class="btn btn-arth">{{'page.profile.save' | trans}}</button>
        <button type="button" class="btn btn-secondary" (click)="cancelEdit()">{{'page.profile.cancel' | trans}}</button>
      </div>
    </div>
  </fieldset>
</form>
