<h1>{{'page.profile.title' | trans}}</h1>
<div class="alert alert-success" *ngIf="profileUpdated">{{'page.profile.updatesuccess' | trans}}</div>
<div class="alert alert-warning" *ngIf="incompleteProfile">{{'page.profile.missingdata' | trans}}</div>

<!-- READ-ONLY MODE -->
<div *ngIf="!editMode && (userProfile$ | async) as userProfile">
  <form class="read-details-form" >
    <div class="form-group row form-read-row">
      <label class="col-form-label col-2">{{'common.label.email' | trans}}</label>
      <div class="col-5">{{userProfile?.user_metadata.email}}</div>
      <div class="col-5"><button type="button" (click)="editEmail()" class="btn btn-arth">{{'page.profile.edit' | trans}}</button></div>
    </div>
    <arth-profile-display (edit)="editContactInfo()" [userProfile]="userProfile$ | async"></arth-profile-display>
  </form>
</div>

<!-- EDIT MODE -->
<arth-profile-email [email]="email" (onUpdateMetaData)="updateMetaData($event)" (onCancelEdit)="cancelEdit($event)" *ngIf="editedItem == 'email'"></arth-profile-email>
<arth-profile-edit (onUpdateMetaData)="updateMetaData()" (onCancelEdit)="cancelEdit($event)" [userProfile]="userProfile$ | async" *ngIf="editedItem == 'contactinfo'"></arth-profile-edit>

<arth-orders *ngIf="!editMode"></arth-orders>

<div *ngIf="!editMode">
  <h1>{{'page.profile.options' | trans}}</h1>
  <div *ngIf="pendingRemoval">
    <p class="alert alert-danger">{{'page.profile.pendingremovalrequest' | trans}}</p>
    <button type="button" class="btn btn-warning" (click)="cancelAskForRemoval()">{{'page.profile.canceldeleteaccount' | trans}}</button>
  </div>
  <a href data-toggle="modal" data-target="#confirmDeleteAccountModal" *ngIf="!pendingRemoval">{{'page.profile.deleteaccount' | trans}}</a>

  <div class="modal fade" id="confirmDeleteAccountModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'page.profile.deleteaccount' | trans}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{'page.profile.confirmdeleteaccount' | trans}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="askForRemoval()" data-dismiss="modal">{{'common.label.yes' | trans}}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'common.label.no' | trans}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
