.carousel-inner img {
  height: 400px;
  opacity: 1;
  margin: auto;
}
.carousel-item .link {
  cursor: pointer;
}
.carousel-caption {
  /*color:#cd1f25;*/
  color:#000;
  font-size: 1.5em;
  font-family: arial;
}
.carousel-caption .title1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: black;
  opacity: 0.6;
}
.carousel-caption .title2 {
  font-size: 2em;
  font-weight: bold;
}
.carousel-caption p {
  background-color: rgba(255,255,255,0.6);
}

.carousel-control-prev-icon {
  background-image: url('/assets/images/chevron-left.png');
}

.carousel-control-next-icon {
  background-image: url('/assets/images/chevron-right.png');
}

.carousel-indicators .active {
  background-color: orange;
}

.carousel-indicators li {
  background-color: grey;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(255, 153, 0, 0.1);
}
