.table {
  table-layout: fixed;
}

.large-column {
  width: 300px;
}

.thin-column {
  width: 150px;
}

.extra-thin-column {
  width: 100px;
}

.form-control-xs {
  padding: 2px;
}

.old-price {
  text-decoration: line-through;
}

@media print {
  .no-print, .no-print *
  {
    display: none !important;
  }
}
