<div class="p-1 no-print">
  <button type="button" class="btn btn-sm btn-secondary"
          (click)="newItem()"
          data-toggle="modal" data-target="#productModal">
    NEW PRODUCT
  </button>
  <button type="button" class="btn btn-sm btn-secondary"
          (click)="export()">
    EXPORT TO EXCEL
  </button>
</div>

<form [formGroup]="filterForm">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="no-print">Picture</th>
        <th class="no-print">Category</th>
        <th>Brand</th>
        <th>Name</th>
        <th class="extra-thin-column">Price</th>
        <th class="thin-column">Handle</th>
        <th class="thin-column">Steel</th>
        <th class="thin-column">Size</th>
        <th class="extra-thin-column no-print">Promo</th>
        <th class="extra-thin-column no-print">In stock</th>
        <th class="thin-column no-print">Actions</th>
      </tr>
      <tr class="no-print">
        <td></td>
        <td>
          <select name="categoryfilter" id="categoryfilter" class="form-control form-control-sm" formControlName="categoryFilter">
            <option value="">[Category]</option>
            <option *ngFor="let category of categories$ | async" [value]="category.name">{{category.name}}</option>
          </select>
        </td>
        <td>
          <select name="brandfilter" id="brandfilter" class="form-control form-control-sm" formControlName="brandFilter">
            <option value="">[Brand]</option>
            <option *ngFor="let brand of brands$ | async" [value]="brand.marque">{{brand.marque}}</option>
          </select>
        </td>
        <td></td>
        <td class="extra-thin-column"></td>
        <td class="thin-column"></td>
        <td class="thin-column">
          <select name="steelfilter" id="steelfilter" class="form-control form-control-sm" formControlName="steelFilter">
            <option value="">[Steel]</option>
            <option *ngFor="let steel of steels$ | async" [value]="steel.name">{{steel.name}}</option>
          </select>
        </td>
        <td class="thin-column"></td>
        <td class="extra-thin-column">
          <select name="promofilter" id="promofilter" class="form-control form-control-sm form-control-xs" formControlName="promoFilter">
            <option value="">[Promo]</option>
            <option value="true">true</option>
            <option value="false">false</option>
          </select>
        </td>
        <td class="extra-thin-column">
          <select name="instockfilter" id="instockfilter" class="form-control form-control-sm form-control-xs" formControlName="instockFilter">
            <option value="">[Stock]</option>
            <option value="true">true</option>
            <option value="false">false</option>
          </select>
        </td>
        <td class="thin-column"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts$ | async">
        <td class="no-print"><img [src]="picUtil.miniPicture(product)"></td>
        <td class="no-print">{{product.type}}</td>
        <td>{{product.marque}}</td>
        <td>{{product.name}}</td>
        <td class="extra-thin-column">
          {{product.price}}€
          <div *ngIf="product.old_price" class="old-price">
            {{product.old_price}}€
          </div>
        </td>
        <td class="thin-column">{{product.manche}}</td>
        <td class="thin-column">{{product.acier}}</td>
        <td class="thin-column">{{product.size}}</td>
        <td class="extra-thin-column no-print">{{product.promo}}</td>
        <td class="extra-thin-column no-print">{{product.instock}}</td>
        <td class="thin-column no-print">
          <a href (click)="editItem(product)" data-toggle="modal" data-target="#productModal">
            <i class="material-icons">mode_edit</i>
          </a>
          <a href (click)="remove($event, product.id)">
            <i class="material-icons">delete_forever</i>
          </a>
          <a href (click)="createSlideProduct($event, product)">
            <i class="material-icons">slideshow</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<arth-admin-product-modal [item]="edited"></arth-admin-product-modal>
