<div id="main">
  <div id="content">
    <h1>{{'page.about.contact.title' | trans}}</h1>
    <div class="row">
      <div class="col-md-6 contact-info">

        <div class="company">{{'page.about.contact.name' | trans}}</div>
        <div class="addr-row">Rue des Haud'Oignons, 6</div>
        <div class="addr-row">7950 Huissignies (Chièvres)</div>
        <div class="addr-row">Belgique (à 40 min. de Lille)</div>

        <p i18n>{{'page.about.openinghours' | trans}}</p>
        <p><a href="https://www.google.com/maps?q=Coutellerie+Arthurius,+Chi%C3%A8vres,+Belgique&hl=fr&ie=UTF8&ll=50.566475,3.747668&spn=0.022053,0.038581&sll=41.672912,-85.473633&sspn=26.494251,39.506836&oq=arthurius&hq=Coutellerie+Arthurius,&hnear=Chi%C3%A8vres,+Hainaut,+R%C3%A9gion+wallonne,+Belgique&t=m&z=15">{{'page.about.mapslink' | trans}}</a></p>

        <div class="addr-row">{{'page.about.contact.phone' | trans}} : 0032 479/367.479</div>
        <div class="addr-row"><a href="mailto:arthurius.lame@gmail.com">arthurius.lame@gmail.com</a></div>

      </div>
      <div class="col-md-6">
        <iframe width="475" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?q=Coutellerie+Arthurius,+Chi%C3%A8vres,+Belgique&amp;hl=fr&amp;ie=UTF8&amp;sll=41.672912,-85.473633&amp;sspn=26.494251,39.506836&amp;oq=arthurius&amp;hq=Coutellerie+Arthurius,&amp;hnear=Chi%C3%A8vres,+Hainaut,+R%C3%A9gion+wallonne,+Belgique&amp;t=m&amp;ll=50.57577,3.744364&amp;spn=0.019078,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed">
        </iframe>
      </div>
    </div>
  </div>
</div>
