.cart-wizard-breadcrumb {
  list-style: none;
  overflow: hidden;
  font: 18px Sans-Serif;
  background-color: #eee;
  border: 1px solid #ddd;
}
.cart-wizard-breadcrumb li {
  float: left;
}
.cart-wizard-breadcrumb li span {
  padding: 10px 0 10px 65px;
  position: relative;
  display: block;
  float: left;
}

.cart-wizard-breadcrumb li span.done {
  text-decoration: none;
  color: white;
  background: #DC4823;
}

.cart-wizard-breadcrumb li span.done::after {
  border-left: 30px solid #DC4823;
}

.cart-wizard-breadcrumb li span.active {
  text-decoration: none;
  color: white;
  background: #C9674F;
  pointer-events: none;
}

.cart-wizard-breadcrumb li span.active::after {
  border-left: 30px solid #C9674F;
}

.cart-wizard-breadcrumb li span::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #eee;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}


.cart-wizard-breadcrumb li span::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #aaa;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.cart-wizard-breadcrumb li:first-child span {
  padding-left: 10px;
}

