<div class="cart-nav">
  <button class="btn previous" (click)="onPrevious()" *ngIf="displayPrevious">Précedent</button>
  <button class="btn btn-warning next" (click)="onNext($event)" *ngIf="displayNext">Suivant</button>
  <div id="paypal-button" [hidden]="!displayPaypalButton"></div>
</div>
<div id="mainLoading" *ngIf="processingPayment">
  <img src="assets/images/ajax-loader.gif" />
</div>
<div class="alert alert-success" *ngIf="paymentConfirmed">{{'page.mycart.paymentsuccess' | trans}}</div>
