<h1>{{'page.profile.title' | trans}}</h1>
<div class="alert alert-success" *ngIf="profileUpdated">{{'page.profile.updatesuccess' | trans}}</div>
<div *ngIf="!editMode">
  <form class="read-details-form" >
    <arth-display-address (edit)="editAddress()" [address]="deliveryAddress"></arth-display-address>
    <button type="button" (click)="nextStep()" class="btn btn-danger" *ngIf="completedData()">{{'page.profile.confirm' | trans}}</button>
  </form>
</div>

<arth-profile-address [address]="deliveryAddress" (onUpdateMetaData)="updateMetaData($event)" (onCancelEdit)="cancelEdit($event)" *ngIf="editedItem == 'address'"></arth-profile-address>
