.cart-total {
  font-weight: bold;
  font-family: ambleregular;
  font-size: 1.2em;
}

.table-mycart thead tr {
  font-size: 1.1em;
}
.table-mycart tbody td {
  vertical-align: middle;
}
.table-mycart tfoot tr {
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}
.picture-cell {
  line-height: 70px;
}
.name-cell {
  font-size: 1.2em;
}
.price-cell {
  font-size: 1.0em;
}
.total-cell {
  text-align: right;
  font-size: 1.2em;
  font-family: ambleregular;
}

.amount-cell, .cart-total {
  text-align: center;
}
.qty-cell {
  padding-left: 30px;
}
.qty-cell span {
  float: right;
}
