<div id="main">
  <div class="alert alert-success" *ngIf="confirmed">{{'page.mycart.paymentsuccess' | trans}}</div>
  <div id="content" class="table-responsive">
    <h1>{{'page.mycart.paymentconfirmation' | trans}} - {{items.length}} {{'common.label.article-pp' | trans}}</h1>
    <div id="mainLoading" *ngIf="loading">
      <img src="assets/images/ajax-loader.gif" />
    </div>
    <div class="alert alert-info"  *ngIf="!loading">
      {{'page.mycart.buyer' | trans}} : <strong>{{payer?.first_name}} {{payer?.last_name}} ({{payer?.email}})</strong><br/>
      {{'common.label.total' | trans}} : <strong>{{total | currency:'EUR':true}}</strong><br/>
      <button type="button" class="btn btn-danger" id="confirm-payment" (click)="confirmPayment()" *ngIf="needToConfirm()">{{'page.mycart.confirmpayment' | trans}}</button>
    </div>
    <table class="table table-mycart table-striped" *ngIf="!loading && items.length">
      <thead>
      <tr>
        <th>{{'common.label.article' | trans}}</th>
        <th class="price-cell">{{'common.label.price' | trans}}</th>
        <th>{{'common.label.quantity' | trans}}</th>
        <th class="amount-cell">{{'common.label.total' | trans}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td class="name-cell">
          <span>{{item.name}}</span>
        </td>
        <td class="price-cell">{{item.price | currency:'EUR':true}}</td>
        <td class="qty-cell">{{item.quantity}}</td>
        <td class="amount-cell">{{item.price * item.quantity | currency:'EUR':true}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3" class="total-cell">{{'common.label.total' | trans}} : </td>
        <td class="cart-total">
          {{total | currency:'EUR':true}}
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
