<div class="cart-wizard-breadcrumb" *ngIf="wizard$ | async as wizard">
  <div [class.done]="wizard.currentStep >= 1" class="step">
    <span>
      1. {{'page.mycart.breadcrumb.myarticles' | trans}}
    </span>
  </div>
  <div class="chevron">
    &gt;
  </div>
  <div [class.done]="wizard.currentStep >= 2" class="step">
    <span>
      2. {{'page.mycart.breadcrumb.signin' | trans}}
    </span>
  </div>
  <div class="chevron">
    &gt;
  </div>
  <div [class.done]="wizard.currentStep >= 4" [class.active]="wizard.currentStep === 3" class="step">
    <span>
      3. {{'page.mycart.breadcrumb.mycontactdetails' | trans}}
    </span>
  </div>
  <div class="chevron">
    &gt;
  </div>
  <div [class.active]="wizard.currentStep === 4" class="step">
    <span>
      4. {{'page.mycart.breadcrumb.payment' | trans}}
    </span>
  </div>
</div>
