.cart-wizard-breadcrumb {
  background-color: #eee;
  border: 1px solid #ddd;
}

.cart-wizard-breadcrumb > div {
  padding: 5px 10px 5px 10px;
  display: inline-flex;
  align-items: center;
  height: 48px;
}

.cart-wizard-breadcrumb > div.step {
  font: 18px Sans-Serif;
}

.cart-wizard-breadcrumb > div.chevron {
  font-size: 20px;
}

.cart-wizard-breadcrumb > div.done {
  color: white;
  background: #DC4823;
}

.cart-wizard-breadcrumb > div.active {
  color: white;
  background: #C9674F;
}


