.table-mycart thead tr {
  font-size: 1.1em;
}
.table-mycart tbody td {
  vertical-align: middle;
}

.table-mycart tfoot {
  border-bottom: 2px solid #ccc;
}

.table-mycart tfoot tr {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.table-mycart tfoot tr td {
  border-top: 0;
  padding: 0.4rem;
}

.table-mycart .action-icon {
  font-size: 20px;
}

.picture-cell {
  line-height: 70px;
}
.name-cell {
  font-size: 1.2em;
}
.price-cell {
  font-size: 1.0em;
}
.foot-label-cell {
  text-align: right;
  font-size: 1.2em;
  font-family: ambleregular;
}

.cart-subtotal {
  font-family: ambleregular;
  font-size: 1.2em;
}

.cart-total {
  font-weight: bold;
  font-family: ambleregular;
  font-size: 1.2em;
}

.amount-cell, .cart-total, .cart-subtotal {
  text-align: center;
}
.qty-cell {
  padding-left: 30px;
}
.qty-cell span {
  float: right;
}
