<div *ngIf="(cart$ | async) as cart">
  <h1>{{'common.links.mycart' | trans}} - {{cart.totalCount}} {{'common.label.article-pp' | trans}}</h1>
  <table class="table table-mycart table-striped" *ngIf="cart.orders.length">
    <thead>
      <tr>
        <th class="d-none d-sm-block"></th>
        <th>{{'common.label.article' | trans}}</th>
        <th class="price-cell">{{'common.label.price' | trans}}</th>
        <th>{{'common.label.quantity' | trans}}</th>
        <th class="amount-cell">{{'common.label.total' | trans}}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of cart.orders">
        <td class="picture-cell d-none d-sm-block">
          <a href [routerLink]="['/detail', order.article.id]">
            <img [src]="picUtil.miniPicture(order.article)" [attr.alt]="order.article.name">
            <img src="assets/images/promo.png" *ngIf="order.article.promo">
          </a>
         </td>
        <td class="name-cell">
          <a href [routerLink]="['/detail', order.article.id]">{{order.article.name}}</a>
        </td>
        <td class="price-cell">{{order.article.price | currency:'EUR'}}</td>
        <td class="qty-cell">{{order.count}}
          <span>
            <a href (click)="removeArticle($event, order.article.id)" *ngIf="order.count > 1" class="action-icon">
                <i class="fa fa-minus-circle" title="{{'page.mycart.removearticle' | trans}}"></i>
            </a>
            <a href (click)="addArticle($event, order.article)" class="action-icon">
              <i class="fa fa-plus-circle" title="{{'page.mycart.addarticle' | trans}}"></i>
            </a>
          </span>
        </td>
        <td class="amount-cell">{{order.article.price * order.count | currency:'EUR'}}</td>
        <td>
          <span>
          <a href (click)="removeOrder($event, order.article.id)" class="action-icon">
            <i class="fa fa-times" title="{{'page.mycart.removefromcart' | trans}}"></i>
          </a>
          </span>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="foot-label-cell">{{'common.label.subtotal' | trans}} : </td>
        <td class="cart-subtotal"> {{cart.subtotalAmount | currency:'EUR'}}</td>
        <td></td>
      </tr>
      <tr *ngIf="cart.promoAmount > 0">
        <td colspan="4" class="foot-label-cell">{{'common.label.promotion' | trans}} ({{cart.promoPercentage * 100 | number : '1.0-0'}}%) : </td>
        <td class="cart-subtotal">- {{cart.promoAmount | currency:'EUR'}}</td>
        <td></td>
      </tr>
      <tr *ngIf="cart.shipping">
        <td colspan="4" class="foot-label-cell">{{'page.mycart.shipping' | trans}} : </td>
        <td class="cart-subtotal">{{cart.shipping | currency:'EUR'}}</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="4" class="foot-label-cell">{{'common.label.total' | trans}} : </td>
        <td class="cart-total">{{cart.totalAmount | number : '1.2-2'}} €</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
