<div class="p-1">
  <button type="button" class="btn btn-sm btn-secondary"
          (click)="newItem()"
          data-bs-toggle="modal" data-bs-target="#videoModal">
    NEW VIDEO
  </button>
</div>

<!-- VIDEOS -->
<h3>Videos</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Youtube ref</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videos$ | async">
      <td>{{video.ref}}</td>
      <td>{{video.title}}</td>
      <td>
        <a href (click)="remove($event, video.id)">
          <i class="material-icons">delete_forever</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<arth-admin-video-modal [item]="edited"></arth-admin-video-modal>
