<div class="main" *ngIf="selected">
  <div class="content">
    <div class="content_top">
      <ol class="breadcrumb">
        <li class="breadcrumb-item responsive-hidden-small"><a href routerLink="">{{'common.links.home' | trans}}</a></li>
        <li class="breadcrumb-item" *ngIf="selected.parentCategory">
          <a href [routerLink]="['/categ', selected.parentCategory.name]" >{{selected.parentCategory | catTitle}}</a>
        </li>
        <li class="breadcrumb-item" *ngIf="selected.category">
          <a href [routerLink]="['/categ', selected.category.name]">{{selected.category | catTitle}}</a>
        </li>
      </ol>
    </div>
    <div>
      <div class="article" *ngIf="selected.product as article">
        <div class="article-picture">
          <a [href]="picUtil.largePictureFullPath(article)" class="fancyboxImg" rel="gallery" alt="Image" [hidden]="!needZoom">
            <img class="zoomable" [src]="picUtil.largePictureFullPath(article)" />
          </a>
          <img (mouseenter)="detectImageSize($event)" [src]="picUtil.largePictureFullPath(article)" [hidden]="needZoom" />
        </div>
        <div class="article-desc">
          <div class="name">{{article.name}}</div>
          <p *ngIf="article.description" class="strong" [innerHtml]="article.description"></p>
          <p *ngIf="article.brand">{{'common.label.brand' | trans}} : <span class="strong">{{article.brand}}</span></p>
          <p *ngIf="article.steel">{{'common.label.steel' | trans}} : <span class="strong">{{article.steel}}</span></p>
          <p *ngIf="article.size">{{'common.label.size' | trans}} : <span class="strong">{{article.size}}</span></p>
          <p *ngIf="article.handle">{{'common.label.handle' | trans}} : <span class="strong">{{article.handle}}</span></p>
          <p *ngIf="article.comment"><span class="strong comment" [innerHtml]="article.comment"></span></p>
          <div *ngIf="article.youtube_ref">
            <a class="fancyboxVideo fancybox.iframe" href="http://www.youtube.com/embed/{{article.youtube_ref}}" title="{{article.name}}"><img id="youtube_vid" src="assets/images/youtube.jpg"></a>
          </div>
          <div class="price">
            <p>{{'common.label.price' | trans}} : <span>{{article?.price | currency:'EUR'}}</span>
              <span *ngIf="article.promo" class="strike">{{article.old_price | currency:'EUR'}}</span>
            </p>
          </div>
          <div class="buttons" *ngIf="article.instock; else outofstock" >
            <ul>
              <li><button class="btn-detail" (click)="addToCart(article)">{{'common.links.addtocart' | trans}}</button></li>
            </ul>
          </div>
          <ng-template #outofstock>
            <p *ngIf="!article.instock"><span class="warn">{{'common.label.outofstock' | trans}}</span></p>
          </ng-template>
        </div>
        <div class="wrap clear"></div>

      </div>
    </div>
  </div>
</div>
