<div id="main">
  <div class="row">
    <div class="col-md-3">
      <arth-category-list></arth-category-list>
    </div>
    <div class="col-md-9">
      <arth-slider></arth-slider>
    </div>
  </div>
  <div class="content" *ngIf="(promoArticles$ | async) as promoArticles">
    <div class="content_top">
      <div class="heading">
        <h2>{{'page.home.promotion' | trans}}</h2>
      </div>
    </div>
    <div class="section group">
      <arth-article-box *ngFor="let promoArticle of promoArticles" [article]="promoArticle"></arth-article-box>
    </div>
  </div>
</div>
