<div id="main">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <h1>{{'page.home.title' | trans}}</h1>
      <section>
        <div class="section-content amble" [innerHTML]="'page.home.presentation' | trans"></div>
      </section>
    </div>
    <div class="col-md-9 col-sm-12">
      <arth-slider></arth-slider>
    </div>
  </div>
  <div class="content">
    <div class="home-news">
      <div class="news">
        <img src="assets/home/notele/thumbnail.jpg" routerLink="homenews" [queryParams]="{type: 'notele'}" />
      </div>
      <div class="news">
        <img src="assets/images/custom_summary.jpg" routerLink="homemadeknives" />
      </div>
      <div class="news">
        <img src="assets/home/nordeclair/thumbnail.jpg" routerLink="homenews" [queryParams]="{type: 'nordeclair'}" />
      </div>
    </div>
  </div>
  <div class="content" *ngIf="(videos$ | async).length">
    <div class="home-news">
      <div class="news" *ngFor="let video of (videos$ | async)">
        <a data-fancybox="gallery" class="fancybox.iframe" href="http://www.youtube.com/embed/{{video.ref}}" [title]="video.title">
          <img src="https://img.youtube.com/vi/{{video.ref}}/hqdefault.jpg">
        </a>
      </div>
    </div>
  </div>
  <div class="content" *ngIf="(promoArticles$ | async).length">
    <div class="content_top">
      <div class="heading">
        <h2>{{'page.home.promotion' | trans}}</h2>
      </div>
    </div>
    <div class="section group">
      <arth-article-box *ngFor="let promoArticle of (promoArticles$ | async)" [article]="promoArticle"></arth-article-box>
    </div>
  </div>
</div>
