.video-thumbnail {
  max-width: 350px;
  margin: 10px;
}

.video-separator {
  background-color: #343a40;
  border-width: 5px;
}

.home-news {
  border-top: 2px solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  grid-gap: 20px;
}

.news {
  text-align: center;
}

.news img {
  max-width: 300px;
  border: 5px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}
