<div class="article" [class.odd]="isOdd">
  <div class="article-picture">
<!--    <div *ngFor="let picture of _album; let i=index">-->
<!--      <img [src]="picture.thumb" (click)="open(i)" class="zoomable" />-->
<!--    </div>-->
<!--    <video width="320" height="240" controls class="col-lg-4 col-md-6 col-sm-12">-->
<!--      <source src="assets/images/custom_video1.mp4" type="video/mp4">-->
<!--      Your browser does not support the video or formats.-->
<!--    </video>-->
    <a data-fancybox="gallery" class="fancybox.iframe" href="http://www.youtube.com/embed/0ILfxRKtJx0" title="Arthurius Madagascar pro">
      <img src="https://img.youtube.com/vi/0ILfxRKtJx0/hqdefault.jpg">
    </a>
  </div>

</div>
