<div class="main">
  <div class="content">
    <div class="content_top">
      <div class="heading">
        <ol class="breadcrumb">
          <li class="breadcrumb-item responsive-hidden-small"><a href routerLink="">{{'common.links.home' | trans}}</a></li>
          <li class="breadcrumb-item" *ngIf="parentCategory"><a href [routerLink]="['/parent-categ', parentCategory.name]" >{{parentCategory | catTitle}}</a></li>
          <li class="breadcrumb-item">{{category | catTitle}}</li>
          <li class="breadcrumb-item breadcrumb-item-right"><span class="option">{{'common.label.sortby' | trans}}</span>
            <select name="orderBy" [(ngModel)]="orderBy">
              <option value="name">{{'common.label.name' | trans}}</option>
              <option value="price">{{'common.label.price' | trans}}</option>
            </select>
          </li>
         </ol>
      </div>
    </div>
    <div>
      <arth-topsales [category]="category" [categoryLevel]="'leaf'" *ngIf="category"></arth-topsales>
      <h3>{{'common.label.allarticles' | trans}}</h3>
      <arth-article-box *ngFor="let article of articles | orderBy : orderBy" [article]="article"></arth-article-box>
    </div>
  </div>
</div>
