<div id="main">
  <div class="content">
    <div class="content_top">
      <div class="heading">
        <ol class="breadcrumb">
          <li class="breadcrumb-item responsive-hidden-small"><a href routerLink="">{{'common.links.home' | trans}}</a></li>
          <li class="breadcrumb-item" *ngIf="parentCategory">{{parentCategory | catTitle}}</li>
        </ol>
      </div>
    </div>
    <arth-topsales [category]="parentCategory" [categoryLevel]="'root'" *ngIf="parentCategory"></arth-topsales>
    <h3>{{'common.links.categories' | trans}}</h3>
    <div class="content_bottom">
      <div *ngFor="let subCateg of parentCategory?.subCategories" class="box-link" [routerLink]="['/categ', subCateg.name]">
        {{subCateg | catTitle}}
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
