<div class="p-1">
  <button type="button" routerLink="add" class="btn btn-sm btn-secondary">NEW SLIDE</button>
</div>
<div class="row">
  <div [class.col-8]="subRouteActive" [class.col-12]="!subRouteActive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Image</th>
        <th>Title 1</th>
        <th>Title 2</th>
        <th>Description</th>
        <th>Link</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let slide of slides$ | async">
        <td>{{slide.image}}</td>
        <td>{{slide.title1}}</td>
        <td>{{slide.title2}}</td>
        <td>{{slide.description}}</td>
        <td>{{slide.link}}</td>
        <td><a href [routerLink]="['edit', slide.id]">Edit</a> - <a href (click)="remove($event, slide.id)">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4" *ngIf="subRouteActive">
    <router-outlet></router-outlet>
  </div>
</div>
