<div class="p-1">
  <button type="button" class="btn btn-sm btn-secondary"
          (click)="newItem()"
          data-bs-toggle="modal" data-bs-target="#slideModal">
    NEW SLIDE
  </button>
</div>

<!-- SLIDES -->
<h3>Slides</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title 1</th>
      <th>Title 2</th>
      <th>Description</th>
      <th>Link</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slide of slides$ | async">
      <td>{{slide.image}}</td>
      <td>{{slide.title1}}</td>
      <td>{{slide.title2}}</td>
      <td>{{slide.description}}</td>
      <td>{{slide.link}}</td>
      <td>
        <a href (click)="editItem(slide)" data-bs-toggle="modal" data-bs-target="#slideModal">
          <i class="material-icons">mode_edit</i>
        </a>
        <a href (click)="remove($event, slide.id)">
          <i class="material-icons">delete_forever</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<!-- SLIDE PRODUCTS -->
<ng-container *ngIf="(slideProductsCount$ | async) > 0">
  <h3>Product slides</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let slideProduct of slideProducts$ | async">
        <td>{{slideProduct.type}}</td>
        <td>{{slideProduct.brand}}</td>
        <td>{{slideProduct.name}}</td>
        <td>{{slideProduct.price}}</td>
        <td><a href (click)="removeSlideProduct($event, slideProduct.id)"><i class="material-icons">delete_forever</i></a></td>
      </tr>
    </tbody>
  </table>
</ng-container>
<arth-admin-slide-modal [item]="edited"></arth-admin-slide-modal>
