<div class="cart" *ngIf="cart$ | async as cart">
  <div class="dropdown">
    {{'comp.header.welcome' | trans}}
    <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="minicart-dropdown">
      <span>{{'common.label.cart' | trans}} : </span>{{cart.totalCount}} {{'common.label.article-pp' | trans}} - {{cart.totalAmount}} € <span class="caret"></span>
    </div>
    <ul class="dropdown-menu dropdown-cart" aria-labelledby="minicart-dropdown">
      <li class="cart-title">{{'comp.minicart.youhave' | trans}} {{cart.totalCount}} {{'comp.minicart.articlesinyourcart' | trans}}</li>
      <li *ngFor="let order of cart.orders" class="cart-item dropdown-item">
        <div class="product-item">
          <a class="product-item-photo" href [routerLink]="['/detail', order.article.id]" [title]="order.article.name"
             *ngIf="!order.article.noLink; else noLinkThumb">
            <span class="helper"></span>
            <img class="product-image-photo" [src]="picUtil.firstMiniPictureFullPath(order.article)" [attr.alt]="order.article.name">
          </a>
          <ng-template #noLinkThumb>
            <span class="helper"></span>
            <img class="product-image-photo" [src]="picUtil.firstMiniPictureFullPath(order.article)" [attr.alt]="order.article.name">
          </ng-template>
          <div class="product-item-details">
            <strong class="product-item-name">
              <a href [routerLink]="['/detail', order.article.id]" *ngIf="!order.article.noLink; else noLinkName">
                {{order.article.name}}
              </a>
              <ng-template #noLinkName>
                {{order.article.name}}
              </ng-template>
            </strong>
            <div class="product-item-qty">
              <label>{{'common.label.quantity' | trans}} :</label> <span class="number">{{order.count}}</span>
            </div>
            <div class="product-item-price">
              <span>{{order.article.price}} €</span>
            </div>
            <div class="product-item-actions">
              <a (click)="removeOrder($event, order.article.id)" title="Remove item">
                <i class="material-icons">delete</i>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="bottom-cart">
        <div class="subtotal">
          <label>{{'common.label.total' | trans}} : </label>
          <span class="price">{{cart.totalAmount}} €</span>
        </div>
        <div class="actions-right">
          <button type="button" class="btn btn-arth" routerLink="/mycart">
            {{'comp.minicart.gotocart' | trans}}
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
