/********************************
********* GLOBAL ****************
*********************************/

@font-face {
  font-family: ambleregular;
  src:  url(../font/amble-regular-webfont.ttf) format('truetype');
  src:  url(../font/amble-regular-webfont.woff) format('woff'),
        url(../font/amble-regular-webfont.woff2) format('woff2');
  font-weight: normal;
}

body {
  font-family: arial;
  font-size: 0.9em;
}

h1 {
  margin-top: 10px;
  font-size: 20px;
  border:1px solid #ddd;
  padding: 15px;
  font-family: ambleregular;
  text-transform: uppercase;
  color: #343a40;
  background-color: #e9ecef;
  clear: both;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  border:1px solid #ddd;
  padding: 10px;
  font-family: ambleregular;
  text-transform: uppercase;
  color:#fff;
  background-color: #DC4823;
  clear: both;
}

h3 {
  margin-top: 10px;
  font-size: 17px;
  padding: 5px;
  font-family: ambleregular;
  text-transform: uppercase;
  color: #fff;
  background-color: #DC4823;
  background-image: linear-gradient(to right, #DC4823, #343a40);
  clear: both;
  margin-bottom: 0;
}

.administration h3 {
  text-transform: none;
  background-color: #DC4823;
  background-image: none;
}

.administration .btn {
  box-shadow: none;
}

ul {
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #DC4823;
}

a:visited {
  color: #DC4823;
}

a:hover {
  text-decoration: none;
  color: #BC2803;
}

.right {
  float: right;
}

.clear {
  clear:both;
}

.wrap {
  width:80%;
  margin: 0 auto;
}

.content_top {
  margin-top: 10px;
}

.content_bottom {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/********************************
*********** BOX LINK ************
*********************************/

.box-link {
  float: left;
  width: 178px;
  padding:3px;
  font-family: ambleregular;
  background-color: #eee;
  text-align: center;
  border:1px solid #aaa;
  margin: 1px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color:#DC4823;
  font-size: 1.1em;
}

.box-link:hover {
  background-color: #DC4823;
  color: white;
}


/********************************
********* DIVERS ****************
*********************************/

.product-sorter {
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 5px 10px 5px 10px;
  font-family: ambleregular;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 2em;
  margin-left: 3px;
}

/********************************
******* RESPONSIVE LAYOUT *******
*********************************/
@media only screen and (max-width: 1024px) {
  .wrap {
    width: 90%;
  }
}
@media only screen and (max-width: 800px) {
  .wrap {
    width: 95%;
  }
}
@media only screen and (max-width: 640px) {
  .wrap {
    width: 95%;
  }
}
@media only screen and (max-width: 480px) {
  .wrap {
    width: 95%;
  }
  .responsive-hidden-small {
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  .wrap {
    width: 95%;
  }
  .responsive-hidden-small {
    display: none !important;
  }
}

/********************************
****** BOOTSTRAP OVERRIDES ******
*********************************/

/* Override bootstrap styles for dropdown */
.dropdown .dropdown-toggle {
  cursor:pointer;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #dcd2c7;
}

.breadcrumb {
  margin: 0;
  color: #343a40;
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-family: ambleregular, Verdana, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.breadcrumb li {
  line-height: 2em;
}

.breadcrumb-item-right {
  float: right;
}

.breadcrumb-item + .breadcrumb-item-right::before {
  content: "";
}

.breadcrumb-item .option {
  text-transform: none;
}

.breadcrumb-item select {
  border-radius: 4px;
  padding: 4px;
}

.btn {
  cursor: pointer;
}

.btn-arth {
  color: #fff;
  background-color: #DC4823;
}
