body, html {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 2em;
  color: #c53211;
}

section#header {
  background-color: #2e3830;
  min-height: 400px;
  position: relative;
  padding: 20px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}

section#header .intro-photo img {
  max-height: 400px;
}

section#header .intro-photo.crosseur img {
  border: 5px solid white;
}

.photos {
  background-color: #2e3830;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.photo {
  background-color: #e6dbc9;
  color: #c53211;
  border: 3px outset black;
  padding: 20px 100px;
}
.photo img {
  max-width: 100%;
  border: 8px solid white;
  border-radius: 8px;
}

@media (max-width: 1000px) {
  section#header {
    grid-template-columns: 1fr;
  }
  .photos {
    grid-template-columns: 1fr;
  }
  .photo {
    padding: 20px 30px;
  }
}
