<div class="article-box">
  <div class="article-box-link" [routerLink]="['/detail', article.id]">
    <img [src]="picUtil.miniPicture(article)" alt="{{ article.name}}" />
    <div class="article-name">{{ article.name}}</div>
  </div>
  <div class="price-details">
    <div>
      <span class="price" [class.promo-price]="article.promo">{{ article.price | currency:'EUR'}}</span>
      <div><span *ngIf="article.promo" class="price-strike">{{article.old_price | currency:'EUR'}}</span></div>
    </div>
    <div class="add-cart" (click)="addToCart(article)" *ngIf="article.instock; else outofstock">
      <span>{{'common.links.addtocart' | trans}}</span>
    </div>
    <ng-template #outofstock>
      <div class="outofstock">
        <span>{{'common.label.outofstock_short' | trans}}</span>
      </div>
    </ng-template>
  </div>
</div>
