
/********************************
********* ARTICLE BOX ***********
*********************************/

.article-box {
  width: 24%;
  min-width: 270px;
  height: 220px;
  float: left;
  border: 1px solid #cccccc;
  padding: 15px;
  margin: 0.5%;
}

.article-box .article-box-link {
  display: flex;
  justify-content: center;
  min-height: 140px;
  cursor: pointer;
}

.article-box .article-box-link img {
  align-self: center;
}

.article-box .article-box-link .article-detail {
  align-self: center;
  margin-left: 10px;
  font-family: ambleregular;
  color: #6A82A4;
}

.article-detail .article-name{
  font-size: 1.3em;
  text-transform: uppercase;
}

.article-detail .article-brand {
  text-decoration: underline;
}

.article-box .price-details {
  border-top: 1px solid #DC4823;
  position: relative;
}

.article-box .price-details .add-cart {
  border-top: 1px solid #DC4823;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #DC4823;
  padding: 7px 10px 7px 10px;
  transition: all 0.5s ease-in-out;
}

.article-box .price-details .add-cart:hover {
  text-shadow: 0 0 1px #000;
  background: #292929;
}

.article-box .price-details .add-cart span {
  font-family: ambleregular;
  color: white;
  font-size: 1.1em;
}

.article-box .add-cart {
  cursor: pointer;
}

.article-box .price-details .outofstock {
  font-size: 1.1em;
  border-top: 1px solid #DC4823;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #666;
  padding: 7px 10px 7px 10px;
  transition: all 0.5s ease-in-out;
  color: white;
}

.article-box .price-details > div {
  font-family: ambleregular;
  color: #343a40;
  padding: 5px;
}

.article-box .price-details .price {
  font-size: 1.4em;
}

.article-box .price-details .price.promo-price {
  color: red;
}

.article-box .price-details .price-strike {
  text-decoration: line-through;
  display: inline-block;
  margin-left: 6px;
  font-size: 1em;
}
