<div id="main">
  <div id="content">
    <h1>{{'page.steels.title' | trans}}</h1>

    <section>
      <h2>{{'page.steels.inoxsteels' | trans}}</h2>
      <div class="section-content">
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th class="material">Steel</th>
            <th class="material">Carbon</th>
            <th class="material">Manganese</th>
            <th class="material">Chromium</th>
            <th class="material">Nickel</th>
            <th class="material">Vanadium</th>
            <th class="material">Molybdenum</th>
            <th class="material">Cobalt</th>
            <th class="material">Nitrogen</th>
            <th class="material">Silicon<br />(silicium)</th>
            <th class="material">HRC</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td class="steel">H1</td>
              <td>0.15</td>
              <td>2.00</td>
              <td>14-16</td>
              <td><p>0.6-0.8</p></td>
              <td>&mdash;</td>
              <td>0.5-1.5</td>
              <td>&mdash;</td>
              <td>0.1</td>
              <td>3.0-4.5</td>
              <td>58-68</td>
            </tr>
            <tr>
              <td class="steel">Aisi420 = 1.4034</td>
              <td>0.30-0.4</td>
              <td>1.0</td>
              <td>12.14</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>1.0</td>
              <td>53-57</td>
            </tr>
            <tr>
              <td class="steel">420HC</td>
              <td>0.4-0.5</td>
              <td>0,4</td>
              <td>12.14</td>
              <td>&nbsp;</td>
              <td>0.30</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.6</td>
              <td>55-58</td>
            </tr>
            <tr>
              <td class="steel">420 j2</td>
              <td>0.15-0.20</td>
              <td>1.0</td>
              <td>12.14</td>
              <td>&nbsp;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.6</td>
              <td>53-56</td>
            </tr>
            <tr>
              <td class="steel">INOX</td>
              <td>0.52</td>
              <td>0.45</td>
              <td>15</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.6</td>
              <td>56</td>
            </tr>
            <tr>
              <td class="steel">12C27mod</td>
              <td>0.52</td>
              <td>0.4</td>
              <td>14.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>57-58</td>
            </tr>
            <tr>
              <td class="steel">12C27</td>
              <td>0.60</td>
              <td>0.4</td>
              <td>13.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-60</td>
            </tr>
            <tr>
              <td class="steel">13C26</td>
              <td>0.68</td>
              <td>0.65</td>
              <td>12.8</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.4</td>
              <td>58-60</td>
            </tr>
            <tr>
              <td class="steel">8C13CrMoV</td>
              <td>0.8</td>
              <td>0.4</td>
              <td>13.00</td>
              <td>0.20</td>
              <td>0.10</td>
              <td>0.15</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.5</td>
              <td>60-61</td>
            </tr>
            <tr>
              <td class="steel">14C4CrMoV</td>
              <td>1.05</td>
              <td>0.5</td>
              <td>14.00</td>
              <td>0.20</td>
              <td>0.10</td>
              <td>4.00</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&nbsp;</td>
              <td>60-62</td>
            </tr>
            <tr>
              <td class="steel">440A = 1.4110</td>
              <td>0.50-0.75</td>
              <td>1.0</td>
              <td>14-18</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.75</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>56-57</td>
            </tr>
            <tr>
              <td class="steel">440B = 1.4112</td>
              <td>0.75-0.95</td>
              <td>1.0</td>
              <td>16-18</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.75</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>56-60</td>
            </tr>
            <tr>
              <td class="steel">440C = 1.4125</td>
              <td>0.95-1.2</td>
              <td>1.0</td>
              <td>16-18</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.75</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-59</td>
            </tr>
            <tr>
              <td class="steel">N690 co</td>
              <td>1,07</td>
              <td>0.4</td>
              <td>17</td>
              <td>&mdash;</td>
              <td>0.10</td>
              <td>1.10</td>
              <td>1.50</td>
              <td>&mdash;</td>
              <td>0.40</td>
              <td>58-60</td>
            </tr>
            <tr>
              <td class="steel">AUS-4A</td>
              <td>0.40-0.45</td>
              <td>1.0</td>
              <td>13.0-14.5</td>
              <td>0.49</td>
              <td>0.10-0.26</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>55-56</td>
            </tr>
            <tr>
              <td class="steel">AUS-6A</td>
              <td>0.55-0.65</td>
              <td>1.0</td>
              <td>13.0-14.5</td>
              <td>0.49</td>
              <td>0.10-0.26</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>56-58</td>
            </tr>
            <tr>
              <td class="steel">AUS-8A</td>
              <td>0.70-0.75</td>
              <td>0.5</td>
              <td>13.0-14.5</td>
              <td>0.49</td>
              <td>0.10-0.26</td>
              <td>0.1-0.3</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-60</td>
            </tr>
            <tr>
              <td class="steel">AUS-10</td>
              <td>0,95-1,10</td>
              <td>0.5</td>
              <td>13.0-14.5</td>
              <td>0.49</td>
              <td>0.10-0.27</td>
              <td>0.1-0.3</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>60-62</td>
            </tr>
            <tr>
              <td class="steel">154CM</td>
              <td>1.05</td>
              <td>0.5</td>
              <td>14.0</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>4.0</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.3</td>
              <td>55-62</td>
            </tr>
            <tr>
              <td class="steel">BG42</td>
              <td>1.15</td>
              <td>0.5</td>
              <td>14.5</td>
              <td>&mdash;</td>
              <td>1.2</td>
              <td>4.0</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.3</td>
              <td>55-62</td>
            </tr>
            <tr>
              <td class="steel">VG-10</td>
              <td>0.95-1.05</td>
              <td>0.5</td>
              <td>14.5-15.5</td>
              <td>&mdash;</td>
              <td>0.1-0.3</td>
              <td>0.9-1.2</td>
              <td>1.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>59-62</td>
            </tr>
            <tr>
              <td class="steel">SGPS</td>
              <td>1.40</td>
              <td>0.40</td>
              <td>15.0</td>
              <td>&mdash;</td>
              <td>2.0</td>
              <td>2.8</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.5</td>
              <td>62</td>
            </tr>
            <tr>
              <td class="steel">S30V</td>
              <td>1.45</td>
              <td>&mdash;</td>
              <td>14.0</td>
              <td>&mdash;</td>
              <td>4.0</td>
              <td>2.0</td>
              <td>&mdash;</td>
              <td>0.11</td>
              <td>&mdash;</td>
              <td>55-62</td>
            </tr>
            <tr>
              <td class="steel">S90V</td>
              <td>2.3</td>
              <td>&mdash;</td>
              <td>14.0</td>
              <td>&mdash;</td>
              <td>9.0</td>
              <td>1.0</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-62</td>
            </tr>
            <tr>
              <td class="steel">ZDP189</td>
              <td>3.0</td>
              <td>&mdash;</td>
              <td>20.0</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>65-68</td>
            </tr>
            <tr>
              <td class="steel">1.4116</td>
              <td>0,45-0,50</td>
              <td>1.0</td>
              <td>14.50-15.80</td>
              <td>&mdash;</td>
              <td>0.15</td>
              <td>0.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>57</td>
            </tr>
            <tr>
              <td class="steel">ATS34</td>
              <td>1.05</td>
              <td>0.5</td>
              <td>14.00</td>
              <td>&mdash;</td>
              <td>0.60</td>
              <td>3.55</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0.25</td>
              <td>58-61</td>
            </tr>
            <tr>
              <td class="steel">cowry-X</td>
              <td>3.00</td>
              <td>&nbsp;</td>
              <td>20.00</td>
              <td>&mdash;</td>
              <td>0.30</td>
              <td>1.00</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&nbsp;</td>
              <td>60-66</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section>
      <h2>{{'page.steels.toolsteels' | trans}}</h2>
      <div class="section-content">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th class="material">Steel</th>
              <th class="material">Carbon</th>
              <th class="material">Manganese</th>
              <th class="material">Chromium</th>
              <th class="material">Nickel</th>
              <th class="material">Vanadium</th>
              <th class="material">Molybdenum</th>
              <th class="material">Tungsten</th>
              <th class="material">Cobalt</th>
              <th class="material">Nitrogen</th>
              <th class="material">HRC</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="steel">L6</td>
              <td>0.65-0.75</td>
              <td>0.25-0.80</td>
              <td>0.6-1.2</td>
              <td>1.25-2.0</td>
              <td>0.2-0.3</td>
              <td>0.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-66</td>
            </tr>
            <tr>
              <td class="steel">O1= 100mcw4</td>
              <td>0.85-1.0</td>
              <td>1.0-1.4</td>
              <td>0.4-0.6</td>
              <td>0.30</td>
              <td>0.30</td>
              <td>&mdash;</td>
              <td>0.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>55-64</td>
            </tr>
            <tr>
              <td class="steel">O2 = 90mcv8</td>
              <td>0.90</td>
              <td>2.0</td>
              <td>0.4-0.5</td>
              <td>0.30</td>
              <td>0.10</td>
              <td>&mdash;</td>
              <td>0.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>55-64</td>
            </tr>
            <tr>
              <td class="steel">A-2</td>
              <td>0.95-1.05</td>
              <td>1.0</td>
              <td>4.75-5.50</td>
              <td>0.30</td>
              <td>0.15-0.50</td>
              <td>0.9-1.4</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-60</td>
            </tr>
            <tr>
              <td class="steel">D-2 =z160dv12</td>
              <td>1.4-1.6</td>
              <td>0.60</td>
              <td>11.0-13.0</td>
              <td>0.30</td>
              <td>1.10</td>
              <td>0.70-1.20</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-62</td>
            </tr>
            <tr>
              <td class="steel">M-2</td>
              <td>0.95-1.05</td>
              <td>0.15-0.4</td>
              <td>3.75-4.5</td>
              <td>0.30</td>
              <td>2.25-2.75</td>
              <td>4.75-6.50</td>
              <td>5.00-6.75</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>62-66</td>
            </tr>
            <tr>
              <td class="steel">INFI</td>
              <td>0.5</td>
              <td>&mdash;</td>
              <td>8.5</td>
              <td>0.74</td>
              <td>0.36</td>
              <td>1.3</td>
              <td>&mdash;</td>
              <td>0.95</td>
              <td>0.11</td>
              <td>58-60</td>
            </tr>
            <tr>
              <td class="steel">CPM &nbsp;3V</td>
              <td>0.80</td>
              <td>&mdash;</td>
              <td>7.5</td>
              <td>&mdash;</td>
              <td>2.75</td>
              <td>1.30</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-62</td>
            </tr>
            <tr>
              <td class="steel">CPM 10V</td>
              <td>2.45</td>
              <td>0.5</td>
              <td>5.25</td>
              <td>&mdash;</td>
              <td>9.75</td>
              <td>1.30</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-64</td>
            </tr>
            <tr>
              <td class="steel">CPM 15V</td>
              <td>3.4</td>
              <td>0.5</td>
              <td>5.25</td>
              <td>&mdash;</td>
              <td>14.5</td>
              <td>1.3</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-65</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section>
      <h2>{{'page.steels.noninoxsteels' | trans}}</h2>
      <div class="section-content">
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th class="material">Steel</th>
              <th class="material">Carbon</th>
              <th class="material">Manganese</th>
              <th class="material">Chromium</th>
              <th class="material">Nickel</th>
              <th class="material">Vanadium</th>
              <th class="material">Copper</th>
              <th class="material">Silicon</th>
              <th class="material">HRC</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="steel">1095 = xc100</td>
              <td>0.9-1.03</td>
              <td>0.3-0.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0,25</td>
              <td>45-62</td>
            </tr>
            <tr>
              <td class="steel">1078 = xc75</td>
              <td>0.75</td>
              <td>0.3-0.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0,25</td>
              <td>45-62</td>
            </tr>
            <tr>
              <td class="steel">1045 = xc45</td>
              <td>0.48</td>
              <td>0.3-0.5</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0,25</td>
              <td>45-60</td>
            </tr>
            <tr>
              <td class="steel">xc130</td>
              <td>1.30</td>
              <td>0.55</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>0,25</td>
              <td>45-66</td>
            </tr>
            <tr>
              <td class="steel">52100</td>
              <td>0.98-1.10</td>
              <td>0.25-0.45</td>
              <td>1.3-1.6</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>&mdash;</td>
              <td>58-60</td>
            </tr>
            <tr>
              <td class="steel">50100-B = carbone V</td>
              <td>0.93</td>
              <td>0.43</td>
              <td>0.60</td>
              <td>0.03</td>
              <td>0.21</td>
              <td>0.16</td>
              <td>0.24</td>
              <td>58-66</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section>
      <h2>{{'page.steels.benchmadesteels' | trans}}</h2>
      <div class="section-content">
        <img src="assets/images/benchmade-steels.png" alt="Benchmade steels" />
      </div>
    </section>

    <section>
      <h2>{{'page.steels.denominationandnorms' | trans}}</h2>
      <div class="section-content">
        <p [innerHtml]="'page.steels.steelsnaming' | trans"></p>

        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th class="summary_title">{{'page.steels.normssamples' | trans}}</th>
              <th class="summary_title">{{'page.steels.namingsamples' | trans}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{'page.steels.sample.america' | trans}}</td>
              <td><strong> = 440 C </strong></td>
            </tr>
            <tr>
              <td>{{'page.steels.sample.france' | trans}}</td>
              <td><strong> = Z100CDV18</strong></td>
            </tr>
            <tr>
              <td>{{'page.steels.sample.europe' | trans}}</td>
              <td><strong> = X105CRMo17</strong></td>
            </tr>
            <tr>
              <td>{{'page.steels.sample.europeNumeric' | trans}}</td>
              <td><strong> = 1.4125</strong></td>
            </tr>
            <tr>
              <td>{{'page.steels.sample.japan' | trans}}</td>
              <td><strong> = SUS440c</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
