<div id="main">
  <div id="content">
    <h1>{{'common.links.sharpeningEngraving' | trans}}</h1>

    <section>
      <h2>{{'page.services.sharpening' | trans}}</h2>
      <div class="section-content">
        <p>{{'page.services.sharpeningDescription' | trans}}</p>
        <p [innerHTML]="'page.services.sharpeningContent' | trans"></p>
      </div>
    </section>

    <section>
      <h2>{{'page.services.engraving' | trans}}</h2>
      <div class="section-content">
        <p [innerHTML]="'page.services.engravingContent' | trans"></p>
      </div>
    </section>

  </div>
</div>
