<div class="main" *ngIf="productData$ | async as productData">
  <div class="content">
    <div class="content_top">
      <div class="row m-0">
        <ol class="breadcrumb col-10 align-self-start">
          <li class="breadcrumb-item responsive-hidden-small">
            <a href routerLink="">{{'common.links.home' | trans}}</a>
          </li>
          <li class="breadcrumb-item" *ngIf="productData.selected?.parentCategory">
            <a href [routerLink]="['/categ', productData.selected?.parentCategory.name]" >{{productData.selected?.parentCategory | catTitle}}</a>
          </li>
          <li class="breadcrumb-item">{{productData.selected?.category | catTitle}}</li>
        </ol>
        <div class="col align-self-end text-center product-sorter">
          <ng-container *ngIf="!productData.subCategories?.length">
            <span class="option">{{'common.label.sortby' | trans}}&nbsp;</span>
            <select name="orderBy" [(ngModel)]="orderBy">
              <option value="brand">{{'common.label.brand' | trans}}</option>
              <option value="name">{{'common.label.name' | trans}}</option>
              <option value="price">{{'common.label.price' | trans}}</option>
            </select>
          </ng-container>
        </div>
      </div>
    </div>
    <div>
      <arth-topsales [articles]="productData.currentTopSales"></arth-topsales>
      <div *ngIf="productData.subCategories?.length; else listArticles">
        <h3>{{'common.links.categories' | trans}}</h3>
        <div class="content_bottom">
          <div *ngFor="let subCateg of productData.subCategories" class="box-link" [routerLink]="['/categ', subCateg.name]">
            {{subCateg | catTitle}}
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <ng-template #listArticles>
        <h3>{{'common.label.allarticles' | trans}}</h3>
        <arth-article-box *ngFor="let article of productData.currentProducts | orderBy : orderBy" [article]="article"></arth-article-box>
      </ng-template>
    </div>
  </div>
</div>
