.categories {
  min-width: 280px;
  display: inline-block;
}

.categories .list-group .list-group-title {
  font-size: 1.1em;
  color: white;
  display: block;
  text-transform: uppercase;
  background-color: #DC4823;
  padding: 7px 15px 7px 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.categories .list-group {
  font-family: ambleregular;
  text-transform: uppercase;
}

.categories .list-group .list-group-item {
  color: #9C9C9C;
  padding: 4px 10px 4px 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.categories .list-group .list-group-item:hover {
  color: #DC4823;
}

.categories .list-group .list-group-item span {
  padding: 0 15px;
  background: url(/assets/images/drop_arrow.png) no-repeat 0;
}

