<h1>{{'page.profile.myorders' | trans}}</h1>
<div id="orders" role="tablist" aria-multiselectable="true">
  <div class="card" *ngFor="let paypalOrder of paypalOrders; let idx = index">
    <div class="card-header" role="tab" id="heading-{{idx}}">
      <h5 class="mb-0">
        <a href="#collapse-{{idx}}" data-toggle="collapse" data-parent="#orders" aria-expanded="false">
          {{paypalOrder.orderDate | date}} - {{paypalOrder.parsedJson.total | currency:'EUR':true}}
        </a>
      </h5>
    </div>
    <div id="collapse-{{idx}}" class="collapse" role="tabpanel" [attr.aria-labelledby]="'heading-' + idx">
      <div class="card-block">
        <table class="table table-mycart table-striped">
          <thead>
          <tr>
            <th>{{'common.label.article' | trans}}</th>
            <th class="price-cell">{{'common.label.price' | trans}}</th>
            <th>{{'common.label.quantity' | trans}}</th>
            <th class="amount-cell">{{'common.label.total' | trans}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of paypalOrder.parsedJson.items">
            <td class="name-cell">
              <span>{{item.name}}</span>
            </td>
            <td class="price-cell">{{item.price | currency:'EUR':true}}</td>
            <td class="qty-cell">{{item.quantity}}</td>
            <td class="amount-cell">{{item.price * item.quantity | currency:'EUR':true}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="3" class="total-cell">{{'common.label.total' | trans}} : </td>
            <td class="cart-total">
              {{paypalOrder.parsedJson.total | currency:'EUR':true}}
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
