<div id="footer" class="clear">
  <div class="wrap">
    <div class="footer-top row">
      <div class="col-md-4 footer-column">
        <h4>{{'comp.footer.information' | trans}}</h4>
        <ul>
          <li><a href routerLink="/about">{{'common.links.contact' | trans}}</a></li>
          <li><a href routerLink="/steels">{{'common.links.steels' | trans}}</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <h4>{{'comp.footer.myaccount' | trans}}</h4>
        <ul>
          <li *ngIf="!authService.authenticated()"><a href (click)="profileService.login($event)">{{'common.links.login' | trans}}</a></li>
          <li *ngIf="authService.authenticated()"><a href (click)="profileService.logout($event)">{{'common.links.logout' | trans}}</a></li>
          <li><a href routerLink="/mycart">{{'common.links.mycart' | trans}}</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <h4>Contact</h4>
        <ul>
          <li><span>+32 479.367.479</span></li>
        </ul>
        <div class="social-icons">
          <h4>{{'comp.footer.followus' | trans}}</h4>
          <ul>
            <li><a href="https://www.facebook.com/coutellerie.arthurius" target="_blank"><img src="assets/images/facebook.png" alt="Arthurius on Facebook" title="Arthurius on Facebook" /></a></li>
            <div class="clear"></div>
          </ul>
        </div>
      </div>

    </div>
    <div class="copy_right">
      <p>Arthurius © All rights Reserved</p>
    </div>
  </div>
</div>
