<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href routerLink="/">Administration</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href routerLink="products">Products</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href routerLink="categories">Categories</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href routerLink="slides">Slides</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href routerLink="brands">Brands</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href routerLink="videos">Videos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href routerLink="orders">Orders</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href routerLink="users">Users</a>
      </li>
    </ul>
  </div>
</nav>
